# parsly

## Environment variables
parsly/.env

## Python
parsly/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.py~

## venv
parsly/.venv/
parsly/venv/

# parsly-ctl
parsly-ctl/target/
